<launch>
  <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
    <param name="robot_base_frame" value="base_footprint"/>   <!-- robot base coordinate frame -->
    <param name="costmap_topic" value="map"/>                 <!-- costmap topic -->
    <param name="costmap_updates_topic" value="map_updates"/> <!-- costmap updates topic; not needed if the map source always publishes full updates -->
    <param name="visualize" value="true"/>                    <!-- 指定是否發布visualize邊界 -->
    <param name="planner_frequency" value="0.33"/>            <!-- 計算新邊界並重新考慮目標的速率(Hz) -->
    <param name="progress_timeout" value="20.0"/>             <!-- 當機器人在 progress_timeout 內沒有任何進展時，將放棄當前目標的時間，以秒為單位 -->
    <param name="potential_scale" value="3.0"/>               <!-- 用於加權邊界，這個乘法參數影響邊界權重的邊界潛在分量（到邊界的距離） -->
    <param name="orientation_scale" value="0.0"/>             <!-- 用於加權邊界，該乘法參數影響前沿權重的前沿方向分量，此參數當前不執行任何操作，僅提供前向兼容性 -->
    <param name="gain_scale" value="1.0"/>                    <!-- 用於加權邊界，乘法參數影響邊界權重（邊界大小）的邊界增益分量 -->
    <param name="transform_tolerance" value="0.3"/>           <!-- 變換機器人姿勢時使用的變換容差 -->
    <param name="min_frontier_size" value="0.75"/>            <!-- 將邊界視為探索目標的最小邊界大小，以m為單位 -->
  </node>
</launch>
